body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
    flex-direction: column;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}
.container .dados-usuario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    word-break: break-word;
}
.container .dados-usuario p {
    font-size: 1.3rem;
    color: var(--secundaria);
    text-decoration: underline;
    margin-left: 2rem;
    margin-right: 2rem;
}
.container .dados-usuario strong{
    font-size: 1.5rem;
}
.container a{
    font-size: .9rem;
    color: var(--terceira);
    text-decoration: none;
}
.container a:hover{
    color: var(--quarta);
    text-decoration: underline;
}
#title{
    font-size: 2rem;
    margin-top: 1.5rem;
    text-align: center;
    color: var(--secundaria);
}

.dados-usuario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
@media (max-width: 768px) {
    .container .dados-usuario {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .info-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-item strong {
        margin-bottom: 0.2rem;
    }
}